{% extends 'layout.html.twig' %}

{% block content %}
<section>
    <body id="homepage">
        <div class="home">
            <div class="logo-home">
                <img class="img-fluid" src="assets/images/logo_blue_home.png">
                <a type="button" class="btn btn-dark" href="/category">Try it !</a>
            </div>
            <div class="text-home">
                <h1>The world’s largest editing tool for series</h1>
            </div>
        </div>
    </body>
</section>
{% endblock %}
