<footer class="bg-primary mt-auto text-center text-muted">
    <div class="text-foot">
        <p>© Wilders 2022 - Team Dephants - SerialSeries</p>
    </div>
    <div class="img-foot">
        <a class="foot-link-img" href="#"><img alt="Facebook" src="assets/images/facebook.png" class="img-responsive" /></a>
        <a class="foot-link-img" href="#"><img alt="Instagram" src="assets/images/instagram.png" class="img-responsive" /></a>
        <a class="foot-link-img" href="#"><img alt="Twitter" src="assets/images/twitter.png" class="img-responsive" /></a>
    </div>  
</footer>