body {
    background-color: rgb(var(--bs-success-rgb));
}

h2 {
    font-family: var(--bs-font-sans-serif);
}

.page {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.description {
    text-align: right;
}

.description > p {
    margin-left: 8rem;
    text-align: left;
}

.description > h2 {
    text-align: right;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.description > button {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 4rem;
    margin-right: 2rem;
}

.titre > h2 {
    padding-bottom: 1.5rem;
}

.bloc1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form {
    padding-top: 1rem;
}

img {
    border-radius: 10px;
    min-width: 100%;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    margin-left: 5rem;
    margin-right: 5rem;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 90%;
    }
}

@media screen and (max-width: 700px) {
    .page {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .description {
        text-align: center;
    }

    .description > h2 {
        text-align: center;
    }

    .description > p {
        margin-left: 0rem;
        text-align: left;
    }

    .description > button {
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-right: 0rem;
    }

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        margin-left: auto;
        margin-right: auto;
    }

    img {
        width: 100%;
    }
}