
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');
@import '_category.css';
@import '_global.css';
@import '_serie.css';
@import '_var.css';
@import '_navbar.css';
@import '_footer.css';
@import '_home.css';
